/*Navigation.css */
/*Student name: Rui Sun */
/*Student Number: 301480676*/
/*Date: 2025-02-02*/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: white;
}

.nav-links {
  display: flex;
  gap: 2rem;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}